In [11]:
import pandas as pd

In [7]:
data = pd.read_csv('data/ADGS_v2.csv')
data

       year  reviewid              name    n         genre
0      2017     22703    massive attack  9.3    electronic
1      2017     22721          krallice  7.9         metal
2      2017     22659      uranium club  7.3          rock
3      2017     22661  kleenex- liliput  9.0          rock
4      2017     22725              taso  8.1    electronic
...     ...       ...               ...  ...           ...
20314  1999      1341           cassius  4.8    electronic
20315  1999      5376          mojave 3  6.3          rock
20316  1999      2413     don caballero  7.2          rock
20317  1999      2413     don caballero  7.2         metal
20318  1999      2413     don caballero  7.2  experimental

[20319 rows x 5 columns]

In [15]:
from pymongo import MongoClient

In [18]:
client = MongoClient()
col = client['musicgenre_DB']['gdata']

In [19]:
data_g = data.to_dict(orient='records')
col.insert_many(data_g)