In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('ADGS.csv')

In [3]:
df.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,reviewid,artist,pub_date,genre,score
0,0,0,0,22703,massive attack,17,electronic,9.3
1,1,1,1,22721,krallice,17,metal,7.9
2,2,2,2,22659,uranium club,17,rock,7.3
3,3,3,3,22661,"kleenex, liliput",17,rock,9.0
4,4,4,4,22725,taso,17,electronic,8.1

In [5]:
df2 = df[["pub_date","reviewid","artist","score","genre"]]

In [13]:
df2["year"] = df2["pub_date"].map(temp_date)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [20]:
df2["n"] = df2["score"]

In [12]:
def temp_date(num):
    if(num==99):
        return num+1900
    else:
        return num+2000

In [21]:
df3 = df2[["year","reviewid","name","n","genre"]]

In [22]:
df3.head()

   year  reviewid              name    n       genre
0  2017     22703    massive attack  9.3  electronic
1  2017     22721          krallice  7.9       metal
2  2017     22659      uranium club  7.3        rock
3  2017     22661  kleenex- liliput  9.0        rock
4  2017     22725              taso  8.1  electronic

In [17]:
def tempcomma(word):
    if ',' in word:
        return word.replace(",","-")
    else:
        return word

In [23]:
df3.to_csv("ADGS_v2.csv")